<div class="card">
    <div class="card-header">
      {{ headerTitle }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ journey.origin }} - {{ journey.destination }}</h5>
      <p class="card-text text-danger">Price: {{ journey.price | currency: isUSD }}</p>
      <hr>

      <div *ngFor="let flight of journey.flights">
        <p class="card-text" >Origin: {{ flight.origin }}</p>
        <p class="card-text" >Destination: {{ flight.destination }}</p>
        <p class="card-text" >Price: {{ flight.price | currency: isUSD }}</p>
        <hr>
      </div>

      <p class="card-text text-info">We create airline solutions through technology and business expertise</p>
      <a class="btn btn-primary">{{ textButton }}</a>
    </div>
  </div>